* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  overflow: hidden;
  transition: 50ms;
  font-family: 'Courier New', Courier, monospace;

  & > .left {
    height: 100%;
    padding: 4% 4%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & > .right {
    height: 100%;
    padding: 4% 4%;
  }
}

@media (min-width: 1024px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }

}